body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  /* User Section Styles */
  .user-section {
    padding: 50px 0;
    background-color: #f9f9f9; /* Subtle light gray background */
}

.user-info {
    text-align: center;
    margin-bottom: 30px;
}

.user-info h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.user-info p {
    font-size: 16px;
    margin-bottom: 5px;
}

/* All Challenges Styles */
.challenge-cards {
    margin-top: 30px;
}

.challenge-cards .col-md-4 {
    padding: 15px;
}

.challenge-cards .card {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff; /* White background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
    transition: transform 0.3s ease;
}

.challenge-cards .card:hover {
    transform: translateY(-5px); /* Add a slight lift effect on hover */
}

.challenge-cards .card h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

.challenge-cards .card p {
    font-size: 16px;
    margin-bottom: 5px;
}

.challenge-cards .btn-primary {
    margin-top: 10px;
}

  
  